


.topChatHeader{
    margin:1vw 0vw 3vw 0vw;
    background-color: #0005A4;
    padding:1vw 0vw 1vw 0vw;
    border-radius: 8px;
}
.ChatContainer{
    display: flex;
    flex-direction: row;
    direction:rtl;
    justify-content: center;
    align-items: flex-start;
    column-gap: 7vw;
}
.ChatSend{
    display: flex;
    flex-direction: row;
    direction:rtl;
    justify-content: center;
    align-items: center;
    column-gap: 1vw;
    width: 90%;
}
.selectBox{
    width:  100%;
}
.ContactsContent {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    direction: rtl;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 1vw;
    width: 30%; /* Adjust the width as needed */
    height: 100vh; /* Adjust the height as needed */
    overflow-y: auto; /* Add vertical scrollbar if needed */
    border-left:1px solid rgb(129, 129, 129, 0.5);
    padding-left: 1vw;
    cursor: pointer;
}
.chatScreen{
    display: flex;
    flex-direction: column;
    direction:rtl;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1vw;
    width: 100%;
}
.rightMessage{
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    direction:rtl;
    margin-right: 15rem;
}
.leftMessage{
    text-align: left;
    display: flex;
    flex-direction: row;
    direction:rtl;
    margin-left:15rem
}
.contanctContainerFinal h3{
    color: black;
}
.contanctContainerFinal img{
    width: 30%;
    border-radius:100%; /* Adjust the value based on how much you want to round the edges */
    border: 2px solid #3498db; /* Replace with your desired border color */
    overflow: hidden; 
}
.contanctContainerFinal{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1vw;
    direction: rtl;
    
}
.blueDot {
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px; /* Adjust as needed */
  }
  
  .redDot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px; /* Adjust as needed */
  }
  .finalMessage{
   
  }