.ProfileContent{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: #C4C4C4;
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 15px;
}
.MainContainer{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0vw 1vw 0vw 1vw;
    width: 100%;
    
}