
.MainSignUpContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  direction: rtl;
  font-family: "shabnamM";
  height: 160vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  margin: 0; /* Remove any default margin */
  position: relative;
  background-color: #0005A4;
}
.MainSignUpContainer h3{
  color:'black'
}
.MainSignUpContainer h4{
  color:'black'
}

@font-face {
    font-family: 'shabnamM'; /* Choose a suitable name for your font */
    src: url('../../assests/fonts/shabnamMedium.ttf') format('truetype');
    /* Add more font formats (e.g., woff, woff2) for cross-browser support */
  }
  @font-face {
    font-family: 'iransans'; /* Choose a suitable name for your font */
    src: url('../../assests/fonts/iransans.ttf') format('truetype');
    /* Add more font formats (e.g., woff, woff2) for cross-browser support */
  }
  .MainSignUpContainer Button{
    font-family: 'shabnamM';
    direction: rtl;
  }
  .MainSignUpContainer label{
    font-family: 'shabnamM';
    direction: rtl;
  }
  .MainSignUpContainer input{
    font-family: 'shabnamM';
    direction: rtl;
  }
  .MainSignUpContainer TextField{
    direction: rtl;
  }
  .div1, .div2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .div1 {
    width: 45rem;
    height: 45rem;
    z-index: 1;
    transform: translate(-50%, -50%) rotate(25deg);
  }
  
  .div2 {
    width: 40rem;
    height: 40rem;
    z-index: 2; /* Middle layer */
    transform: translate(-50%, -50%) rotate(40deg);
  }
  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    padding: 2rem;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, .24);
    z-index: 3;
    width: 27rem;
    position: relative;
  }
  .modalContainer{
    font-family: "iransans" !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    padding :2rem;
    
}
.modalContainer Button{
    font-family: "shabnamM";
    font-size: 1rem;
}
.modalContainer input{
    font-family: 'shabnamM';
}
.modalContainer label{
    font-family: 'shabnamM';
}
.formContainer input{
  font-family: 'shabnamM';
  direction: rtl;
}

.MainSignUpContainer .MuiSelect-root,
.MainSignUpContainer .MuiMenuItem-root {
  font-family: 'shabnamM' !important; /* Specify your custom font */
  direction: rtl; /* Set direction if needed */
}